
// Fonts
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700|Rubik:700);
// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/videojs";
// @import "vendor/quill.snow.css";

#app{
	min-height: 90vh;
	margin-top: 3em;
}

body{
	font-family: 'Roboto', Helvetica, sans-serif;
	background-color: #f9f9f9;
	color: #333;
	line-height:1.8;
}

h1, h2, h3, h4{
	line-height: 1.5;
	font-family: 'Rubik', serif;
	color: #111;
}

p{
	margin-bottom: 1em;
}

img.logo{
	width: 70px;
	height: auto;
	position: relative;
	top: 10px;
	margin-left: 5px;
}

.is-borderless{
	border: none !important;
}

.is-dark{
	background: #353b48 !important;
}

.image.is-rounded{
	border-radius: 50%;
	border: 3px solid #eee;
}

.image.is-centered{
	margin: 1em auto;
}

.hero .tabs ul{
	border-bottom: auto !important;
}

.hero.is-dark{
	.tag.is-primary{
		background: #495162 !important;
		color: rgba(255,255,255,.7) !important;
	}
	.button.is-primary{
		background: #495162 !important;
		color: rgba(255,255,255,.7) !important;
	}
}

.hero.is-primary{
	.button.is-primary{
		background: #00e5c3 !important;
		color: rgba(255,255,255,.9) !important;
	}
}

.slick-list{
	padding: 10px 0;
}

nav.is-dark{
	.navbar-burger{
		outline: none;
		border: 0;
		background: #4c5467;
		span{
			background-color: #fff;
			height: 2px;
			width: 18px;
			transition: all .3s ease-out;
			&:nth-child(2){
				width: 12px;
			}
			&:nth-child(3){
				width: 18px;
			}
		}
		&:hover{
			span{
				&:nth-child(2){
					width: 18px;
				}
				&:nth-child(3){
					width: 18px;
					transition-duration: .1s;
				}
			}
		}
		&:focus{
			outline: none;
		}
	}
}

.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
             max-width: 100%;
               opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}

.is-block{
	display: block;
}

.user-badge{
	img{
		width: 28px;
		height: 28px;
	}
	span{
		position: relative;
		top: -5px;
	}
}

#points-header h4{
	margin-bottom: 0;
}

#points-header p{
	margin-bottom: 0;
	color: #333;
}

#points-header td{
	padding: 15px;
}

.card.user{
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,.05);
	img{
		&.image{
			border-radius: 50%;
			border: 5px solid #eee;
			margin: 1em auto;
		}
	}
	.title{
		a{
			color: #333 !important;
		}
	}
	.subtitle{
		color: #333;
	}
	.card-content{
		padding: 1em 0;
	}
	.card-footer{		
		a{
			background-color: #00ddbc;
			color: #fff !important;
			display: block;
			text-align: center;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}
}

.card.portfolio{
	margin: 5px;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,.05);
	color: #718093;
	figure{
		img{
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
	}
	.card-content{
		.author{
			font-size: 14px;
			color: #718093;
		}
	}
	.level-right{
		transition: all .3s ease-out;
		opacity: .7;
		span{
			font-size: 14px;
			font-weight: bold;
		}
	}
	a{
		outline: none;
	}
	&:hover{
		.level-right{
			opacity: 1;
		}
	}
}

.verified{
	position: relative;
	&:after{
		content: "";
		display: inline-block;
		background: url('../images/verified.svg') no-repeat center;
		width: 14px;
		height: 14px;
		background-size: 100%;
		position: relative;
		top: 2px;
	}
}

.is-raised{
	box-shadow: 0 10px 40px 10px rgba(0,0,0,.05);
}

.navbar-item img{
	max-height: auto !important;
}

.portfolio-thumbnail{
	width: 400px;
	max-width: 100%;
	height: auto;
	margin-bottom: 1em;
}

.tag.is-primary,
.tag.is-primary a{
	color: #fff;
}

@keyframes nod{
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(-15deg);
	}
	95% {
		transform: rotateY(3deg);
	}
	100% {
		transform: rotate(0);
	}
}

.like-button{
	display: inline-block;
	width: 128px;
	height: 128px;
	border-radius: 128px;
	line-height: 118px;
	background: #ddd;
	// border: 5px solid #ff8887;
	font-size: 3em;
	color: #fff !important;
	position: relative;
	&:before{
		content: "";
		display: block;
		position: absolute;
		width: inherit;
		height: inherit;
		top: 0px;
		left: 0px;
		background: #fff;
		border-radius: inherit;
		z-index: 1;
		transform: scale(0);
		opacity: 0;
		transition: all .4s ease-in-out;

	}
	&:hover{
		&:before{
			opacity: .2;
			transform: scale(1);
		}
		.fa{
			text-shadow: 0 10px 20px rgba(0,0,0,.1);
		}
	}
	&.liked{
		background: hsl(217, 71%, 53%);
		.fa{
			transform-origin: 0 0;
			animation-name: nod;
			animation-duration: .4s;
		}
	}
	.fa{
		transition: all .3s ease-out;
		position: relative;
		z-index: 2;
	}
}

.loading-icon{
	img{
		width: 24px;
		height: 24px;
		margin-right: 10px;
		position: relative;
		top: 5px;
	}
}

.is-block{
	display: block;
	width: 100%;
}

ul.skills-list{
	margin: 0;
	padding: 0;
	li{
		display: block;
		float: left;
		width: 20%;
		padding: 5px 5px 5px 0px;

	}
}

#footer-links{
	a{
		font-size: 14px;
		color: rgba(255,255,255,.5);
		transition: all .3s ease-out;
		// font-weight: bold;
		&:hover{
			color: #fff;
		}
	}
}

input[type="checkbox"].is-toggle{
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 2.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	top: 9px;
}

input[type="checkbox"].is-toggle:checked{
	background: #0ebeff;
}

input[type="checkbox"].is-toggle:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	}

input[type="checkbox"].is-toggle:checked:after{
	left: calc(100% - 1.5em);
}

.skills-list-wrapper{
	height: 200px;
	overflow-y: scroll;
	padding: 10px;
	border: 1px solid #eee;
	a{
		font-size: 14px;
		font-weight: bold;
		padding: 5px 0;
		display: block;
		border-bottom: 1px solid #eee;
		position: relative;
		color: #333;
		span.icon{
			position: absolute;
			right: 5px;
			// top: 5px;
			opacity: .2;
		}
		&:hover{
			span.icon{
				opacity: 1;
			}
		}
	}
}

.selected-skills-wrapper{
	padding: 10px;
	margin: 10px 0;
	background-color: #f5f5f5;
	.tag{
		margin-right: 5px;
	}
}

.skills{
	position: relative;
	&.is-loading{
		&:before{
			content: "";
			display: block;
			position: absolute;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
			background: url('../images/loading.gif') no-repeat center #fff;
			background-size: 24px 24px;
		}
	}
}

#profile-image-wrapper{
	position: relative;
	min-height: 320px;
	.profile-image{
		position: absolute;
		left: 50%;
		margin-left: -94px;
		top: 50%;
		margin-top: -94px;
		z-index: 2;
	}
	#change-user-background{
		position: absolute;
		bottom: 5px;
		left: 5px;
		z-index: 2;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(2,2,2,.3);
	}
}

#profile-back{
	position: relative;
	.hero-body{
		position: relative;
		z-index: 2;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(2,2,2,.3);
	}
}

#user-avatar-upload{
	position: relative;
	display: block;
	&:after{
		content: "";
		position: absolute;
		background: url('../images/loading.gif') no-repeat center #fff;
		background-size: 32px;
		display: block;
		border-radius: 50%;
		top: 0;
		left: 0;
		z-index: 1;
		width: 128px;
		height: 128px;
		transform: scale(.95);
		opacity: 0;
		transition: all .3s ease-in-out;
	}
	&.is-uploading-avatar{
		&:after{
			opacity: .9;
		}
	}
}

.level.steps{
	.level-item{
		padding: 10px;
		box-shadow: 0 0px 5px rgba(2,2,2,.1);
		margin-right: 0 !important;
		&.active{
			background-color: #c23616;
			.title{
				color: #fff;
			}
		}
	}
}

.naira{
	&:before{
		content: "₦";
		font-family: Arial, Helvetica;
		font-weight: bolder;
	}
}

.button.is-circle{
	border-radius: 50%;
}

.has-percentage{
	position: relative;
	>.percentage{
		font-family: "Rubik", sans-serif;
		font-weight: bolder;
		position: absolute;
		display: block;
		padding: 20px 10px;
		top: -5px;
		left: 10px;
		background-color: #e1b12c;
		color: #fff;
		font-size: 1.5em;
		text-align: center;
		&.medium{
			font-size: 2.5em;
		}
		&.large{
			font-size: 3.5em;
		}
		>span{
			font-size: 16px;
			display: block;
			padding:1px;
			margin-top: -10px;
		}
	}
}

#portfolio-form{
	position: relative;
	&.loading{
		&:after{
			content: "";
			position: absolute;
			background: url('../images/loading.gif') no-repeat center #fff;
			background-size: 64px;
			display: block;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			opacity: .8;
			transition: all .3s ease-in-out;
		}
	}
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.scale-enter-active {
  transition: all .3s ease-in;
}
.scale-leave-active {
  transition: all .3s ease-out;
}
.scale-enter, .scale-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


@media screen and (min-width: 240px) and (max-width: 540px){
	ul.skills-list li{
		width: 50%;
	}
}


