
// Fonts
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/videojs";

#app{
	min-height: 80vh;
	margin-bottom: 3em;
}

body{
	font-family: 'Roboto', Helvetica, sans-serif;
	background-color:#f7f7f7;
	font-weight:300;
	line-height:1.8;
}

p{
	font-size:16px;
}

#skills-list{
	max-height: 300px;
	overflow-y: scroll;
}

.img-responsive{
	width: 100%;
	height: auto;
}

.media-buttons{
	display:inline-block;
	padding: 5px;
	&#play-audio{
		font-size: 2em
	}
	&#stop-audio{
		position:relative;
		top: -5px;
	}
}

.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
             max-width: 100%;
               opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}


.rating-md{
	font-size: 1.5em;
}

#portfolio-items{
	padding: 3em 0;
}

#service-request label{
	font-size: 14px;
	margin-right: 1em;
}

.review-list{
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.btn{
	border-radius: 2px;
	padding: 6px 20px;
}

.btn-default:hover{
	background-color:#fff;
	border-color: #999;
}

.full-width{
	width:100% !important;
}

#messageViewer{
	min-height: 400px;
}

.padded{
	padding: 2em 0;
}



#f-stats{
	list-style: none;
	margin: .5em 0 0 0;
	padding:0;
	font-size:14px;
	margin-bottom: 1em;
	li{
		display: inline-block;
		margin-right: 1em;
		font-weight:700;
	}
}

.f-button{
	margin-top:2em;
}

#response-wrapper{
	margin-top: 4em;
}

#response-wrapper .media{
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom:1px solid #eee;
}

.navbar{
	margin-bottom: 0;
}

.btn{
	&.btn-primary{
		background: linear-gradient(#0096ff, #005dff);
    	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    	border: 1px solid rgba(0, 0, 0, 0.5);
	}
}

#profile-back{
	position: relative;
	overflow: hidden;
	height: 50vh;
	margin-bottom: 3em;
	.user-background{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		z-index: 1;

		&:before{
			content: "";
			background: rgba(0,0,0,.5);
			position: absolute;
			width:100%;
			height: 100%;
			z-index:1
		}

		img{
			width: 100%;
			height: auto;
		}
	}

	.container{
		position:relative;
		z-index:2;
		padding: 1em;
		color: #fff;

		img.avatar{
			width: 100px;
			height: auto;
		}
		h1{
			margin: 15px 0 15px 0;
			font-size: 1.6em;
		}
	}
}

#user-menu{
	margin-bottom: 2em;
	.nav-tabs{
		border-width: 2px;
		li {
			margin-bottom: -2px;
			&.active{
				a{
					border: none;
					border-bottom: 2px solid #222;
					font-weight: 700;
					color: #222;
				}
			}
			a{
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 87.5%;
				color: #888;
				&:hover{
					background: none;
					border-color: transparent;
					color: #444;
				}
			}
		}
	}
}

#selectedSkills, #skills{
	font-size: 14px;
	font-weight: 700;
}

.thin{
	font-weight:100 !important;
}

.bold{
	font-weight:700;
}

.text-muted{
	color: #aaa;
}

.form-wrapper{
	margin-bottom: 1.5em;
}

.thumbnail-image{
	display: block;
	width: 300px;
	height: 300px;
	position: relative;
	border:3px dashed #aaa;
	overflow:hidden;
	margin: 0 auto;
	&:before{
		content: "Set Portfolio Thumbnail";
		position: absolute;
		width: 100%;
		color: #aaa;
		height: 100%;
		line-height: 300px;
		text-align: center;
		z-index: 1;
	}
	&.saving:before{
		content: "Uploading...";
		color: #333;
	}
	&.saving{
		border-color: #333;
	}
	img{
		position: relative;
		z-index: 2;
	}
}

#profile-edit{
	position: relative;
	height: 400px;
	overflow: hidden;

	.user-background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}

	.user-details{
		position: absolute;
		bottom:0;
		left: 0;
		width: 100%;
		background: rgba(3,3,3,.7);
		padding: 1em;
		z-index: 2;
		color: #fff;

		.btn{
			padding: 3px 10px;
		}
	}
}

.affix{
	width:260px;
}

small{
	font-size: 75%;
}

.skills-default{
	.media{
		border: 2px solid #eee;
		margin-bottom: 10px;
		border-radius:2px;
		padding:2em;
		background: #fff;

		&:hover{
			border-color: #ccc;
		}
	}
	p{
		font-size: 87.5%;
		margin-top: 1em;
	}
	.label-default{
		background:#fff;
		border: 1px solid #999;
		font-weight: 300;
	}
	.label{
		color: #999;
		transition: all .6s ease-in-out;

		&:hover{
			opacity: 1;
		}
	}
}

.person-tag{
	&:last-of-type{
		.media{
			border: none;
		}
	}
	.media{
		border-bottom: 1px solid #eee;
		margin-bottom: 15px;
		padding: 15px 0;
	}

	.image-wrapper{
		padding: 10px;
		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0, .1);
		margin-bottom: 10px;
	}
	.col-md-9{
		.col-sm-4{
			padding-left: 5px;
			padding-right: 5px;
			float: right;
		}
	}
	p{
		font-size: 87.5%;
		margin-top: 1em;
	}
	.label-default{
		background:#fff;
		border: 1px solid #999;
		font-weight: 300;
	}
	.label{
		color: #999;
		transition: all .6s ease-in-out;

		&:hover{
			opacity: 1;
		}
	}
	.p-content{
		ul{
			margin-bottom: 0px;
		}
	}
}

#user-badge{
	padding:0.4em;
	background:rgba(255,255,255,.9);
	width:100%;
	z-index: 2;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	&.affix{
		top: 0;
	}
	h4{
		margin-bottom: 2px;
		a{
			color: #888;
			transition: all .3s ease-in-out;
			&:hover{
				color: #222;
				text-decoration: none;
			}
		}
	}
	p{
		font-size: 12px;
		font-weight: 700;
		color: #aaa;
	}
}

.navbar-btn{
	padding: 6px 15px !important;
}

#hero{
	padding: 3em 0;
	background: url('../images/hero-back.jpg') repeat-x center;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		background: rgba(0,0,0,.2);
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
	}
	div{
		position: relative;
		z-index: 2;
		color: #fff;
	}
	h1{
		color: #fff;
		margin-bottom: 1em;
		font-weight: 700;
	}
	.input-group-addon{
		background: #fff;
	}

	.btn-primary{
		background: linear-gradient(#0096ff, #005dff);
		text-shadow: 0 1px 1px rgba(0,0,0,.2);
		padding: 0.7em 5em;
	    border: 1px solid rgba(0,0,0,0.5);
	    letter-spacing: 1px;
	}
	&.page{
		h1{
			font-size: 3em;
			// text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 300;
		}
	}
}

#page{
	p{
		font-size: 1.2em;
		line-height: 2;
	}
}

.navbar-inverse .navbar-nav > li > a {
    color: #eee;
    font-size: 14px;
}

img#logo{
	width: 130px;
	height: auto;
}

#how{
	background: #fff;
	h2{
		margin-bottom: 1.5em;
	}
	h4{
		font-size: 1em;
		position: relative;
		margin-top: 2em;
		padding-top: 2em;
		color: #000;

		&:before{
			content: "";
			height: 2px;
			width: 50px;
			position: absolute;
			top: -0.5em;
			left: 50%;
			margin-left: -25px;
			background: #ccc;
		}
	}
	p{
		font-size: 87.5%;
		opacity: .8;
	}
	i.fa{
		font-size: 3.5em;
	}
}

ul.profile-meta{
	list-style: none;
	margin: 1em 0 0 0;
	padding:0;

	li{
		display: inline-block;
		margin-right: 3em;
		font-size: 87.5%;
		font-weight: 700;
	}
}

#search-form{
	padding: 1em;
	border-bottom: 1px solid #ddd;
	margin: 0 0 2em 0;
	background: #fff;
}

.boxed{
	padding: 1em;
	border-radius: 0;
}

.card-frame{
	background: #fff;
	min-height: 100px;
	border: 2px dashed #ccc;
	border-radius: 3px;
	display:block;
	padding:3em 0;
	text-align: center;

	i{
		font-size: 5em;
		display: block;
	}

	input{
		margin: 1em auto;
	}

	img{
		margin: 0 auto;
	}
}

.user-status{
	font-size: 87.5%;
	span{
		display: inline-block;
		margin-right: 2em;
	}
}

#comments{
	margin-top: 3em;
	ul.list-inline{
		li{
			a{
				color: #333;
				transition: all .3s ease-in-out;
				font-size: 13px;
				opacity: .7;
				text-decoration: none;
				font-weight: 300 !important;
				&.active{
					position:relative;
					display: block;
					&:after{
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background: #fff;
						opacity: .8;
						z-index: 1;
					}
				}
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

#site-footer{
	background: #444;
	color: rgba(255,255,255,.6);
	hr{
		opacity: .1;
	}
	#social-links{
		font-size: 2em;
		li{
			a{
				color: #fff;
				opacity: .8;
			}
		}
	}
}

body.loading:before{
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	bottom:0;
	left: 0;
	background: url('../images/loading.gif') no-repeat center rgba(255,255,255,.9);
	background-size: 64px;
	z-index: 999;
}

#form-invite-wrapper{
	background: #fff;
    margin-bottom: 2em;
    border: 1px solid #ddd;
}

#invites{
	background: #5393b8;
	color: #fff;
}

.table-fixed{
  width: 100%;
  tbody{
    max-height:300px;
    overflow-y:auto;
    width: 100%;
    }
  thead,tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
    }
  }
  thead {
    tr{
      th{
        float:left;
       background-color: #fff;
       border-color:#888;
      }
    }
  }
}
.portfolio-image-wrapper{
	background: url('../images/loading.gif') no-repeat center #fff;
	background-size: 24px;
}
#showcase{
	padding: 2em;
	padding-bottom: 0;
	&.other-works{
		padding: 0;
	}
	.p-content{
		margin-bottom: 0;
		border: none;
		position: absolute;
		bottom:0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: .5em;
		a{
			color: #fff;
		}
		h5{
			margin-bottom: 0;
		}
		ul{
			margin-bottom: 0px;
			color: #aaa;
			font-weight: 400;
			font-size: 1.1em;
		}
	}
	.image-wrapper{
		position: relative;
		background: #fff;
		padding: .5em;
		box-shadow: 0 0px 15px rgba(0,0,0,.1);
	}
	.portfolio-credit{
		padding: .5em;
		border-top:none;
		margin-bottom: 2em;
		.media-heading{
			font-size: 12px;
			margin-top: 5px;
			margin-bottom: 0;
			a{
				opacity: .7;
				font-weight: 700;
				&:hover{
					opacity: 1;
					text-decoration: none;
				}
			}
		}
		ul{
			margin-bottom: 0;
		}
	}
}

#categories{
	background: #f8f8f8;
	a{
		font-size: 14px;
		opacity: .8;
		color: #222;
		display: inline-block;
		margin-bottom: .4em;
		&:hover{
			opacity: 1;
			text-decoration: none;
		}
	}
	h4{
		color: #222;
	}
}

#sub-footer{
	a{
		color: #fff;
		opacity: .5;
		transition: all .3s ease-in-out;
		&:hover{
			opacity: 1;
		}
	}
	ul{
		list-style: none;
		padding-left: 0;
		margin-left: 0;
		font-size: 87.5%;
	}
	p{
		font-size: 75%;
		a{
			text-decoration: underline;
			opacity: 1;
		}
	}
	h4{
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 1.2em;
		font-size: 1em;
		letter-spacing: 1px;
	}
}

.white-boxed{
	padding:1em;
	background-color:#fff;
	border:1px solid #d3e0e9;
}

.small{
	font-size: 75%;
}

.block-button{
	a{
		width: 100%;
	}
}

.small-header{
	font-size:1.2em;
}

.medium-header{
	font-size: 1.875em;
}

#activities{
	background:#fff;
	padding:2em;
	border:1px solid #d3e0e9;
	.media{
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid #d3e0e9;
		&:last-of-type{
			border-bottom: none;
		}

		.media-heading{
			margin-bottom: 1em;
		}
	}
}

#user-background-button{
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 9;
}

#home-content{
	background:#fff;
	&.row{
		margin: 0px;
	}
	.col-md-2{
		padding-right: 0;
		padding-left: 0;
	}
	.col-md-10{
		padding:3em;
	}
	.grey{
		background: #f7f7f7;
	}
}

#sidebar-menu{

	.list-group-item{
		background: none;
		border:none;
		padding-right: 2em; 
		padding-left: 2em; 
		font-size: 14px;
		&:first-child,
		&:last-child{
			border-radius: 0;
		}
		&:hover{
			background: #f7f7f7;
		}
	}
}

#blog-form{

	input#title{
		font-size: 2em;
		background:none;
		border: none;
		margin-bottom: 1em;
		width: 100%;
		font-weight: 700;
		-webkit-appearance: none;
		border-bottom: 2px solid #eee;
		transition: all .3s ease-in-out;
		padding: .5em 0;
		font-family: "Roboto Slab", serif;
		&:focus{
			outline: none;
			-webkit-appearance: none;
			border-color: #222;
		}
	}

	textarea{
		width: 100%;
		min-height: 300px;
		border: none;
		margin-bottom: 1em;
		font-size: 16px;
		background: none;
		color: #888;
		border-bottom: 2px solid #eee;
		transition: all .3s ease-in-out;
		&:focus{
			outline: none;
			-webkit-appearance: none;
			border-color: #222;
		}
	}

	input#tags{
		background:none;
		border: none;
		margin-bottom: 1em;
		width: 100%;
		font-size: 18px;
		border-bottom: 2px solid #eee;
		font-weight: 700;
		font-style: italic;
		padding:1em 0;
		transition: all .3s ease-in-out;
		font-family: "Roboto Slab", serif;
		&:focus{
			outline: none;
			-webkit-appearance: none;
			border-color: #222;
		}
	}
}

#blog-image{
	min-height:300px;
	background: #f7f7ff;
	display: block;
	position: relative;
	transition: all .3s ease-in-out;
	margin-bottom: 1em;
	&:before{
		font-family: "Glyphicons Halflings";
		content: "\e060";
		position: absolute;
		font-size: 3em;
		text-align: center;
		top: 33%;
		left: 0;
		width: 100%;
		color: #aaa;
	}
	&:hover{
		background: #e7e7f5;
	}
}

.fixit{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}

.block-title{
	text-transform: uppercase;
	letter-spacing:2px;
	color:#333;
	font-size: 0.875em;
	margin-top: 4em;
}

.sticky{
	position: fixed;
}

.portfolio-actions{
	padding-top:1em;
}

#video{
	margin-bottom: 5em;
}

.btn-success{
	border:1px solid #34740e; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
	background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
	background-image: -moz-linear-gradient(top, #4ba614, #008c00);
	background-image: -ms-linear-gradient(top, #4ba614, #008c00);
	background-image: -o-linear-gradient(top, #4ba614, #008c00);
	background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
	&:hover{
		 border:1px solid #224b09;
		 background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
		 background-image: -webkit-linear-gradient(top, #36780f, #005900);
		 background-image: -moz-linear-gradient(top, #36780f, #005900);
		 background-image: -ms-linear-gradient(top, #36780f, #005900);
		 background-image: -o-linear-gradient(top, #36780f, #005900);
		 background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);

	}
}

@media screen and (min-width: 540px) and (max-width: 768px)
{
	.container{
		width: 90%;
	}

	#search-form{
		.container{
			div{
				margin-bottom: 5px;
			}
		}
	}
}

@media screen and (min-width:320px) and (max-width:539px)
{
	.container{
		width: 90%;
	}

	#profile-back{
		padding: 1em 0;

		.container{
			h1{
				font-size: 1.3em;
				font-weight: 700;
			}
			img.avatar{
				width: 64px;
			}
		}
	}

	#profile-edit{
		height: 200px;
	}

	.boxed{
		padding:0;
	}

	.white-boxed{
		padding: 1em;
	}

	#portfolio-wrapper{
		margin-bottom: 2em;
	}

	#user-badge{
		padding-bottom: 1.3em;
		box-shadow: none;
		&.fixit{
			position:relative;
		}
		.container{
			width: 100%;
			img.user-avatar{
				margin-top: 8px;
				width: 48px;
				height: auto;
			}
			.portfolio-meta{
				width: 75%;
			}
			h4{
				font-size: 16px;
				margin-bottom: 2px;
			}
			p{
				font-size: 12px;
				font-weight: 700;
			}
			.portfolio-actions{
				float: none !important;
				clear: both !important;
				width: 100%;
				border-top: 1px solid #eee;
				a{
					width: 49%;
				}
			}
		}
	}

	#search-form{
		.container{
			div{
				margin-bottom: 5px;
			}
		}
	}
}

.share-links{
	li{
		a{
			color: #333;
			opacity: .7;
			width: 36px;
		    height: 36px;
		    display: table-cell;
		    background: #ddd;
		    text-align: center;
		    border-radius: 36px;
		    vertical-align: middle;	
		    transition: all .3s ease-in-out;		
		    &:hover{
				opacity: 1;
				background: #3097D1;
				color: #fff;
			}
		}
	}
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


